# a geospatial data story about nike
by simon stewart dec 21

## assemble tools

In [9]:
import pandas as pd
import geopandas as gpd
import geopy

## import data

In [ ]:
#world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

In [5]:
nike = pd.read_excel('/Users/AFROARC/Documents/GitHub/final_project/data/Nike Factory Locations.xlsx')

In [6]:
nike

,Factory Name,Factory Type,Product Type,"Nike, Inc. Brand(s)",Events,Supplier Group,Address,City,State,Postal Code,...,Operating Region,Total Workers,Line Workers,% Female Workers,% Migrant Workers,Contact Name,Contact Phone,Contact Fax,Contact Email,Subcons
0,"A & K DESIGNS, INC.",FINISHED GOODS,APPAREL,NIKE,Collegiate,A & K DESIGNS,8325 SE HARNEY ST.,PORTLAND,OREGON,97266,...,NaN,94.0,82.0,0.69,0.000,Paul Lee,503-238-6514,877-968-2889,paul.lee@akdesignsinc.com,NaN
1,A. FIRST VINA CO. LTD.,FINISHED GOODS,APPAREL,NIKE,NaN,A. FIRST VINA CO. LTD.,TAM PHUOC INDUSTRIAL ZONE,BIEN HOA,DONG NAI,NaN,...,NaN,1958.0,1844.0,0.88,0.062,NaN,NaN,NaN,NaN,NaN
2,"ACABADOS Y SERIGRAFIA, SA (ACSA)",FINISHED GOODS,APPAREL,NIKE,NaN,NO SUPPLIER GROUP,KM.16.5 A SAN JUAN SACATEPEQUEZ,MIXCO,GUATEMALA,NaN,...,NaN,191.0,181.0,0.32,0.000,NaN,NaN,NaN,NaN,NaN
3,ADORA FOOTWEAR LIMITED,FINISHED GOODS,FOOTWEAR,CONVERSE,NaN,HONG FU,TAM DIEP INDUSTRIAL ZONE,TAM DIEP TOWN,NINH BINH PROVINCE.,NaN,...,NaN,7795.0,6899.0,0.91,0.005,NaN,NaN,NaN,NaN,NaN
4,AJARA TEXTILE,FINISHED GOODS,APPAREL,NIKE,NaN,MILTEKS,31 MOTSERELIA STR.,POTI,SAMEGRELO-ZEMO SVANETI,4400,...,NaN,616.0,582.0,0.96,0.000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613,ZHENJIANG TUNTEX GARMENT CO; LTD.,FINISHED GOODS,APPAREL,NIKE,NaN,TUNG MUNG,"NO. 10, FUDA VENTURE PARK, JURONG ECONOMIC DEV...",ZHENJIANG,JIANGSU,212400,...,NaN,553.0,448.0,0.91,0.000,NaN,NaN,NaN,NaN,NaN
614,ZHIJIE FOOTWEAR TECHNICAL SERVICE(ZHONGSHAN)CO...,FINISHED GOODS,FOOTWEAR,CONVERSE,NaN,HONG FU,"JINGYE RD., HUOJU DEVELOPMENT ZONE",ZHONGSHAN,GUANGDONG,528437,...,NaN,658.0,258.0,0.74,0.000,NaN,NaN,NaN,NaN,NaN
615,ZHONGSHAN CITY SANXIANG HENG LONG GARMENT FACT...,FINISHED GOODS,APPAREL,NIKE,NaN,FU SON,"#1 BEIQU AVENUE,YAGANG VILLAGE",ZHONGSHAN,GUANGDONG,528463,...,NaN,893.0,310.0,0.59,0.000,NaN,NaN,NaN,NaN,NaN
616,"ZHONGSHAN WEI LI TEXTILE CO.,LTD.",FINISHED GOODS,EQUIPMENT,CONVERSE,NaN,SUPERCAP,"THE SECOND IND.AREA, SANXIANG TOWN",ZHONGSHAN,GUANGDONG,528463,...,NaN,2434.0,2140.0,0.65,0.000,NaN,NaN,NaN,NaN,NaN
617,"ZHUJI HENGTAI KNITTING & TEXTILE CO., LTD.",FINISHED GOODS,EQUIPMENT,"NIKE, CONVERSE",NaN,DELTA,"NO. 10, TIANYUAN WEST ROAD, CAOTA",ZHUJI,ZHEJIANG,311812,...,NaN,116.0,99.0,0.60,0.798,NaN,NaN,NaN,NaN,NaN

In [7]:
nike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618 entries, 0 to 617
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Factory Name         618 non-null    object
 1   Factory Type         618 non-null    object
 2   Product Type         618 non-null    object
 3   Nike, Inc. Brand(s)  618 non-null    object
 4   Events               112 non-null    object
 5   Supplier Group       618 non-null    object
 6   Address              618 non-null    object
 7   City                 616 non-null    object
 8   State                582 non-null    object
 9   Postal Code          543 non-null    object
 10  Country              618 non-null    object
 11  Operating Region     0 non-null      float64
 12  Total Workers        542 non-null    float64
 13  Line Workers         539 non-null    float64
 14  % Female Workers     618 non-null    float64
 15  % Migrant Workers    618 non-null    float64
 16  Contact Name         111 non-null    object
 17  Contact Phone        109 non-null    object
 18  Contact Fax          67 non-null     object
 19  Contact Email        111 non-null    object
 20  Subcons              75 non-null     object
dtypes: float64(5), object(16)
memory usage: 101.5+ KB

In [8]:
nike.describe()

,Operating Region,Total Workers,Line Workers,% Female Workers,% Migrant Workers
count,0.0,542.000000,539.000000,618.000000,618.000000
mean,NaN,1887.490775,1567.506494,0.592152,0.074353
std,NaN,3403.533767,2962.633616,0.291402,0.210034
min,NaN,4.000000,3.000000,0.000000,0.000000
25%,NaN,116.500000,90.500000,0.470000,0.000000
50%,NaN,662.500000,501.000000,0.670000,0.000000
75%,NaN,2043.750000,1548.000000,0.820000,0.003750
max,NaN,24732.000000,23600.000000,1.000000,1.000000

## convert address to lat long

In [10]:
nike.head(1)

,Factory Name,Factory Type,Product Type,"Nike, Inc. Brand(s)",Events,Supplier Group,Address,City,State,Postal Code,...,Operating Region,Total Workers,Line Workers,% Female Workers,% Migrant Workers,Contact Name,Contact Phone,Contact Fax,Contact Email,Subcons
0,"A & K DESIGNS, INC.",FINISHED GOODS,APPAREL,NIKE,Collegiate,A & K DESIGNS,8325 SE HARNEY ST.,PORTLAND,OREGON,97266,...,NaN,94.0,82.0,0.69,0.0,Paul Lee,503-238-6514,877-968-2889,paul.lee@akdesignsinc.com,NaN